@font-face {
	font-family: 'syrio_glyphs';
	src:url('fonts/syrio_glyphs.eot?ffrecr');
	src:url('fonts/syrio_glyphs.eot?#iefixffrecr') format('embedded-opentype'),
		url('fonts/syrio_glyphs.ttf?ffrecr') format('truetype'),
		url('fonts/syrio_glyphs.woff?ffrecr') format('woff'),
		url('fonts/syrio_glyphs.svg?ffrecr#syrio_glyphs') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'syrio_glyphs';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-syrio_glyphs:before {
	content: "\e600";
}
