/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2015, 6:32:11 PM
    Author     : bogdanV
*/

.sy-action {
    border-radius: 10px;
    padding: 5px;
    margin: 12px;
}

.sy-action-title {
    font-size: 24px;
    line-height: 1.3;
}

.sy-action-message
{
    font-size: 12px;
    font-weight: normal;
}

.sy-action-result-error
{
    background-color: #FFA171;
    
}
.sy-action-result-error:before
{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    content: '\f05c';
    color: #6C4A00;
}

.sy-action-result-warning
{
    background-color: #F7F0C0;
}



.sy-action-result-warning:before
{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    content: '\f06a';
    color: #616042;
}

.sy-action-result-success
{
    background-color: #dff0d8;
}

.sy-action-result-success:before
{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: lighter;
    font-size: 32px;
    content: '\f05d';
    color: #225522;
}

