.cpf-section-number
{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}

.cpf-section-title1
{
    font-family: Arial;
    font-size: 18px;
    font-weight: bolder;
}

div.cpf-section-number {
    padding-top: 36px;
    padding-bottom: 6px;
}

div.cpf-section-title1 {
    padding-bottom: 24px;
}

.cpf-para {
    padding-top:12px;
    padding-bottom:12px;
}


.cpf-pad-right-1 {
    padding-right: 12px;
}

.cpf-pad-right-2 {
    padding-right: 24px;
}


.p1
{
    counter-reset: section;
}

.p2
{
    counter-reset: subsection;
    padding-left: 15px;    
    text-indent: -15px;
}

.p3
{
    counter-reset: subsubsection;
    padding-left: 30px;    
    text-indent: -15px;
}

.p4
{
    padding-left:45px;
    text-indent: -30px;
}

.p2:before{
    counter-increment: section;
    content: counter(section) "." counter(subsection);
}

.p3:before{
    counter-increment: subsection;
    content: counter(section) "." counter(subsection);
}

.p4:before{
    counter-increment: subsubsection;
    content: "("counter(subsubsection, lower-alpha)")";
}


span.cpf-section-title {
    font-size: 30px;
    padding-right: 12px;
}

span.cpf-section-subtitle {
    font-size: 24px;
}

div.cpf-myrow {
    
    padding:3px 3px 0px 3px;
    margin: 3px 3px 0 3px;
    
}

div.failed:before {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');    
    content:"\e083";
    margin-right: 3px;
    color:#ff6b6b;
}

div.success:before {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');    
    content:"\e084";
    margin-right: 3px;
    color:limegreen;
}

div.message-div {
    background-color: #F4F4F4;
    border: 2px solid #acacac;
    border-radius: 5px;
    margin:12px 12px 6px 12px;
    padding:6px 0px 12px 0px;
    min-height: 32px;
}

td.inferred {
    background-color: #f4f498;
}

td.inferred_4_3 {
    background-color: #f4f498;
}
