/*
This is the main SyRIO CSS file
*/

/* 
    Created on : Jan 29, 2015, 5:56:29 PM
    Author     : bogdanV
*/

/* rule for alert glyphicons */
.sy_alert_color {
    color: #ff8000;
}

td.sy_reporting_icon
{
    width: 12px;
}

td.sy_reporting_icon_alert::after, td.sy_reporting_ok::after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1.1;
    padding-left: 5px;
}

td.sy_reporting_icon_alert::after {
    color: red;
    content:"\e101";
}

badge.sy_badge_alert {
    background-color: red;
}

span.sy_not_set
{
    color: #EE5757;
    font-style: italic;
}

.sy_padding_clear
{
    padding: 0px;
}

td.sy_locked::after, div.sy_locked::after, a.sy_locked::before
{
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1.1;
    content:"\e033";
}

td.sy_locked_small::after, div.sy_locked_small::after, a.sy_locked_small::before
{
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 8px;
    font-weight: normal;
    line-height: 1.1;
    content:"\e033";
    padding-left: 3px; padding-right: 3px;
}

td.sy_draft::after, th.sy_draft::after
{
    width: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

td.sy_draft
{
    color: #9acfea;
    background-color:  #3276b1;
}

table.sy_stats_smaller
{
    font-size: 85%;
}

td.sy_created_by::before, span.sy_created_by::before
{
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    //padding-right:6px;
    content:"\e006";
}

td.sy_modified_by::before, span.sy_modified_by::before
{
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    //padding-right:6px;
    content:"\e007";
}

div.sy_op_user
{
    background-image: url(images/48x48/operator_black.png);
    background-repeat: no-repeat;
}
div.sy_op_raporteur
{
    background-image: url(images/48x48/operator_black_rap.png);
    background-repeat: no-repeat;
}
div.sy_op_admin
{
    background-image: url(images/48x48/operator_black_admin.png);
    background-repeat: no-repeat;
}


div.sy_op_raporteur, div.sy_op_user, div.sy_op_admin
{
    padding-left:64px;
}


tr.sy_para
{
    vertical-align: top;
}

td.sy_crf_para
{
    padding-bottom: 24px;
    vertical-align: top;
}

textarea.sy_fill_textarea
{
    width: 100%;
    border: solid 1px black;
    min-height: 128px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

li.sy_vert_top
{
    vertical-align: top;
}

.sy_pad_top_6
{
    padding-top: 6px;
}

.sy_pad_top_18
{
    padding-top: 18px;
}

.sy_pad_top_36
{
    padding-top: 36px;
}


.sy_pad_bottom_6
{
    padding-bottom: 6px;
}

.sy_pad_bottom_18
{
    padding-bottom: 18px;
}

.sy_pad_bottom_36
{
    padding-bottom: 36px;
}

.sy_pad_left_6
{
    padding-left: 6px;
}

.sy_pad_right_6
{
    padding-right: 6px;
}

.hiddenBlock
{
    display: none;
}

.hiddenBlocks
{
    display: none;
}

.visibleBlock
{
    display: block;
}

td.sy_draftt::after
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    background-color: lightgray;
    color:black;
    content: 'draft';
}

td.sy_finalized::after
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    background-color: #9acfea;
    color:black;
    content: 'finalized';
}

td.sy_signed::after
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    background-color: #d2322d;
    color:black;
    content: 'signed';
}

td.sy_drafting::after
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    background-color: #c0f0ff;
    color:black;
    content: 'drafting...';
}


td.sy_submitted::after
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    background-color: #0a0;
    color:black;
    content: 'submitted';
}

td.sy_drafts_list
{
    padding-left: 0px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

td.sy_drafts_list_desc
{
    min-width: 350px;
}

.sy_major
{
    width: 100%;
    height:100%;
    //margin: -6px;
    padding-left: 6px;
    padding-right: 6px;
    display: block;
    background-color: #ff0000;
    font-weight: bold;
    color: #FBFBFB;
    font-weight: bold;
    text-align: center;
}

.sy_non_major
{
    width: 100%;
    height:100%;
    //margin: -6px;
    padding-left: 6px;
    padding-right: 6px;
    display: block;
    background-color: #0a0;
    font-weight: bold;
    color: #EFFF79;
    text-align: center;
}

.sy_unassessed
{
    width: 100%;
    height:100%;
    //margin: -6px;
    padding-left: 6px;
    padding-right: 6px;
    display: block;
    background-color: #a0a0a0;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.sy_rejected
{
    width: 100%;
    height:100%;
    //margin: -6px;
    padding-left: 6px;
    padding-right: 6px;
    display: block;
    background-color: #B3BD10;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.sy_non_major::after
{
    content: 'NON-MAJOR';
}

.sy_major::after {    content: 'MAJOR'; }
.sy_unassessed::after {    content: 'unassessed'; }
.sy_rejected::after {    content: 'REJECTED'; }

td.sy_major::after, td.sy_non_major::after, td.sy_normal::after
{
    width: 10px;
    padding-left: 0px;
    padding-right: 0px;
}


td.sy_draft::after, th.sy_draft::after
{
    width: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

td.sy_draft
{
    color: #9acfea;
    background-color:  #3276b1;
}

table.sy_table_sece {
   border: 3px double black;
}

tr.sy_table_sece_header {
    border-top: 3px double black;
    border-bottom: 1px solid black;
    background-color:#d3d3d3;
}

td.sy_table_sece {
    border-top: 0px;
}

div.sy_table_cell {
    //border: 1px solid lightgray;
    margin-left:-1px;
    margin-top:-1px;
}

.other_container {display:table;width:100%}
.other_label {
  width: auto;
  max-width:200px;
  min-width:60px;
  height: 25px;
  display:table-cell;
  background-color: #FFF;
}
.other_text {
  width: auto;
  display:table-cell;
  /*background-color: url('../images/transparent.png') ;*/
}

*html #other_text {float:left;}


.sy_normal_label {
    font-weight: normal;
}

div.sy_not_set {
    font-style: italic;
    color: #EE5757;
    margin-bottom: 8px;
}

div.sy_description {
    border: 1px solid #acacac;
    padding:8px;
    border-radius:5px;
    overflow-y:  auto;
}

.sy_section_h1
{
    color: #31708f; /* bootstrap text-info */
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 12px;
}

.sy_section_h2
{
    color: #31708f; /* bootstrap text-info */
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 12px;
}

.sy_section_h1_black
{
    color: #black;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 12px;
}

.sy_section_h2_black
{
    color: black; /* bootstrap text-info */
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 12px;
}

.sy_narative-text
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight: normal;
}

textarea.sy_narative-text
{
    color: black;
}

div.sy_rep-head-1
{
    margin-top: 60px;
    margin-bottom:48px;
}

table.sy_simple-table
{
    border: 2px solid black;
    width: 100%;
}

table.sy_simple-table > tbody > tr > td
{
    padding: 6px;
    margin: 2px;
    border: solid 1px gray;
}

span.sy_event-span
{
    display: block;    
    font-weight: bold;
    text-align: center;
    padding: 2px 6px 2px 6px;
    margin: 0px 3px 0px 3px;
    border: 2px solid black;
    border-radius: 5px;
    min-width: 24px;
    background-color: yellow;
    float: left;
    cursor: default;
}

i.sy_error
{
    color: #FF000A;
}


table.sy_cpf_table_4 {
    
}

tr.sy_crf_inferred
{
    background-color: #c0f0ff;
}

table.sy_cpf_table_4 > thead > tr {
    border-top: 1px black solid;
    text-align:center;
}

table.sy_cpf_table_4 > tbody > tr {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

table.sy_cpf_table_4 > tbody > tr > td.sy_reg_cell {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

table.sy_cpf_table_4 > thead > tr > td.sy_reg_cell {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

table.sy_cpf_table_4 > tbody > tr > td.sy_last_cell {
    border-left: 1px solid black;
}

table.sy_cpf_table_4 > thead > tr > td.sy_last_cell {
    border-left: 1px solid black;
}


table.sy_cpf_table_4 > tbody > tr > td.sy_num_cell {
    text-align: center;
}

table.sy_cpf_table_4 > thead > tr > td { padding: 3px 13px 3px 13px;}
table.sy_cpf_table_4 > tbody > tr > td { padding: 3px 3px 3px 3px;}

table.sy_cpf_table_4 > tbody > tr > td.sy_cpf_inferred {
    background-color: #c0f0ff;
}


td.sy_col_1
{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.sy_block_v_spacer
{
    margin-top:64px;
    margin-bottom: 32px;
}

.sy_indent_52
{
    padding-left: 52px;
}

.sy_op_banner {
    color: #CADBCF;
    background-color: #3f7506; 
    margin-top: 50px;    
}

.sy_ca_banner {
    background-color: #f5ad66; 
    margin-top: 50px;
}


span.sy_step_id {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border: 4px solid black;
    border-radius: 32px;
    display: inline-block;
    margin-right:12px;
}

span.sy_step_title {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    padding-top:14px;
}

div.sy_step_container {
    margin-top: 32px;
    margin-bottom: 32px;
}


div.sy_search_container {
    color: #DDDDBB;
    border: 3px solid;
    border-color: darkblue;
    border-radius: 6px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,35,97,1)), color-stop(50%,rgba(25,57,137,1)), color-stop(100%,rgba(34,81,192,1))); /* Chrome,Safari4+ */ 
    padding: 3px 6px 3px 6px;
    vertical-align: central;
}

input.sy_search_textbox {
    color: white;
    font-weight: bold;
    border: 2px solid #42A6B3;
    background-color: rgba(230, 230, 230, 0.0);
    padding:3px;
}

.sy_on_top
{
    z-index: 9999;
}

.sy_deadline_container_in_time
{
    margin: -6px;
    margin-left: 0px;
    padding: 6px;
    background-color: rgba(193, 204, 215, 1);
}

.sy_deadline_container_overdue
{
    margin: -6px;
    margin-left: 0px;
    padding: 6px;
    background-color: #f2dede;
}

.sy_deadline_container_submitted
{
    margin: -6px;
    margin-left: 0px;
    padding: 6px;
    background-color: rgba(209, 235, 209, 1);
}

.sy_deadline_container_late
{
    margin: -6px;
    margin-left: 0px;
    padding: 6px;
    background-color: yellow;
}

.sy_align_top
{
    vertical-align: top;
}

.sy_margin_bottom_26
{
    margin-bottom: 26px;
}

/* Icon when the collapsible content is shown */
.sy_collapse_trigger:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
}

/* Icon when the collapsible content is hidden */
.sy_collapse_trigger.collapsed:after {
    content: "\e080";
}

.ui-tooltip {
    white-space: pre-line;
}

.sy_toolbar_inverse {
    border: solid 2px;
    border-color: #101010;
    border-radius: 6px;
    background-color: #101010;
    padding: 6px;
}


span.rejected {
    color: red;
}

span.unassessed {
    color: black;
}

span.unassessed-disabled {
    color: lightgray;
}

span.assessed-major {
    color: red;
}

span.assessed-non-major {
    color: greenyellow;
}


img.bg {

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -279px;
  margin-left: -293px;
  z-index: -9999;  
}

body { 
    background-image: url('images/syrio_30.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 98% 92%; 
}


table.release_causes {
    width: 100%;
    border: 1px solid black;
}

table.release_causes tr.p-head {
    background-color: #abc;
    font-weight: bold;
}

table.release_causes td {
    border: 1px solid #aaa;
    padding: 6px;
}

.inline-label-right {
    padding-left: 6px;
}

.specify-span {
    display: inline-block;
    font-style: italic;
}

.specify-span.left-pad {
    padding-left: 6px;
}