
div.sy_pdf_long_text
{
    white-space: pre-line;
    word-wrap: break-word;
    overflow: auto;
    font-family: homoarakhn;
    /*font-style: italic;
    font-weight: bold;
    text-decoration: underline; 
    color: red; */
}

div.sy_pdf_text
{
    white-space: pre-line;
    word-wrap: break-word;
    overflow: auto;
    font-family: Arial;
    font-size: 8pt;
    /*font-style: italic;
    font-weight: bold;
    text-decoration: underline; */
    color: red;
}

.sy_pdf_text_area 
{
    border: solid black 1px; 
    min-width:100%; 
    max-width: 100%; 
    min-height: 60px;
    height: auto;
}

.sy_pdf_padding_clear
{
    padding: 0px;
    margin-left: 3%;
}

img.sy_pdf_chk_y
{
    width: 16px;
    height: 16px;
    margin-right: 4px; 
    background-image: url("images/checkbox-selected.png");
    clear: left;
}

img.sy_pdf_chk_n
{
    width: 16px;
    height: 16px;
    background-image: url("images/checkbox.png");
    clear: left;
}

p.sy_pdf_chk_text 
{
    color:#F00; 
    display:inline;
}

.sy_pdf_indent_less16
{
    padding-left: -16px;
}

.sy_pdf_block_v_spacer
{
    margin-top:32px;
    margin-bottom: 32px;
}

.sy_pdf_block_v_spacer_16
{
    margin-top:16px;
    margin-bottom: 16px;
}


.sy_pdf_line_v_spacer
{
    margin-top:16px;
    margin-bottom: 16px;
}

.sy_pdf_indent_more16
{
    padding-left: 16px;
}

/* Apply padding to td elements that are direct children of the tr element. */
tr.spaceUnder > td
{
  padding-top: 1em;
  padding-bottom: 1em;
}

.pdf_table 
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: red;
    border-spacing: 0;
    border-collapse: collapse;
}

.pdf_table_yes_no
{
    width: 20%;
    max-width: 20%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

.pdf_table-bordered
{
    /*border: 1px solid #ddd;*/
}

li.sy_pdf_small
{
    font-size: 12px;
    color: black;
}

.pdf_border_text {
    border: 1px solid #ddd;
}

.sy_pdf_indent_more32
{
    padding-left: 32px;
}

td.sy_pdf_table_a1 {
    
}

table.sy_pdf_table_a1 tr td{
    padding-top:6px;
}