/*
SyRIO beta
*/
/* 
    Created on : 08-Oct-2015, 17:45:43
    Author     : vamanbo
*/

@indent: 35px;
@base-font-size: 14px;
@base-font-weight: normal;
@base-padding-right: 6px;

@base-th-background-color: #cccccc;
@base-cell-padding: 6px;

@descriptive-text-style: italic;
@descriptive-text-color: #337ab7;

@pdf_margin_top: 0px;

/* rule for alert glyphicons */
.sy_alert_color {
    color: #ff8000;
}

.sy-main-container {
    background-color: #FFFFFF;
    border-left: 1px solid lightskyblue;
    border-right: 1px solid lightskyblue;
    
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    
    height: auto;
}

.crf-base-font {
    font-size: @base-font-size;
    font-weight: @base-font-weight;
}

.sy_font_small {
    font-size: @base-font-size * 0.9;
}

.sy_text_panel_title {
    font-size: @base-font-size * 1.2;
    font-weight: bold;
}


.sy-indent-1 {
    margin-left: @indent;
}

.sy-indent-2 {
    margin-left: @indent * 2;
}

.sy-indent-3 {
    margin-left: @indent * 3;
}

.crf-h1-box {
    margin-top:48px;
}

.crf-h1 {
    padding-left: @indent;
    font-size: @base-font-size * 1.2;   // 20% larger
    font-style: normal;
    >.title-number {
        width: @indent;
        min-width:@indent;
        //margin-left: -@indent;
        margin-left: 0px;
        font-style: normal;
        font-weight: normal;
    }
    >.title-text {
        font-weight: bold;
        font-style: italic;
    }
    >.section-content {
        margin-left: 35px;  //1217
        font-size: @base-font-size;
        font-style: normal;
    }
}

.crf-h2-box {
    margin-top:24px;
}

.crf-h2 {
    padding-left: @indent;
    font-size: @base-font-size * 1.0;   // 
    font-style: normal;
    >.title-number {
        width: @indent;
        min-width:@indent;
        margin-left: -@indent;
        font-style: normal;
        font-weight: normal;
        display: inline-block;
    }
    >.title-text {
        font-weight: bold;
        font-style: normal;
    }
    >.section-content {
        font-size: @base-font-size;
        font-style: normal;
        margin-left: 5px;
        padding-left: 0px
    }    
}


.crf-h2c {
    padding-left: @indent * 2;
    font-size: @base-font-size * 1.0;   // 
    font-style: normal;
    >.title-number {
        width: @indent;
        min-width:@indent;
        margin-left: -@indent;
        font-style: normal;
        font-weight: normal;
        display: inline-block;
    }
    >.title-text {
        font-weight: bold;
        font-style: normal;
    }
    >.section-content {
        font-size: @base-font-size;
        font-style: normal;
        margin-left: 5px;
        padding-left: 0px
    }    
}

.crf-h2p {
    padding-left: @indent/2;
    font-size: @base-font-size * 1.0;   // 
    font-style: normal;
    >.title-number {
        width: @indent;
        min-width:@indent;
        margin-left: 0px;
        font-style: normal;
        font-weight: normal;
        display: inline-block;
    }
    >.title-text {
        font-weight: bold;
        font-style: italic;
    }
    >.section-content {
        font-size: @base-font-size;
        font-style: normal;
        margin-left: 0px;
        padding-left: @indent/2
    }    
}


.list-inline {
    &.clear-margin-left {
        margin-left: 0px;        
    }
}

.list-inline, .crf-input-list {
    display: inline-block;
    > li {
        padding-left: 0px;
        padding-right: 18px;
    }
}

.boxsizingBorder {
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.crf-item-label {
    font-size: @base-font-size;
    font-weight: @base-font-weight;
    padding-right: @base-padding-right;
    padding-top: 6px;
    display: inline-block;
}

.crf-table {
    border: 2px black solid;
    &.full-width {
        width: 100%
    }
    
    tbody {
        font-size: @base-font-size;
    }
    
    th {
        background-color: @base-th-background-color;
        padding: @base-cell-padding;
        border: 1px solid black;
    }
    td {
        padding: @base-cell-padding;
        border: 1px solid black;
        vertical-align: text-bottom;
    }
    td.half {
        width: 50%;
        min-width:50%;
        max-height: 50%;
    }
    td.third {
        width: 33.3%;
        min-width:33.3%;
        max-height: 33.0%;
    }
}

.form-inline {
    &.vert-mid {
        vertical-align: middle;
    }
}

textarea {
    .full-width {
        width: 100%;
        padding-top: 6px; 
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */        
    }
}

.full-width {
    width: 100%;
    /*
    padding: 4px;
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */        
}

.sy_pad_right_18 {
    padding-right: 18px;
}

.sy_descriptive_text {
    font-style: @descriptive-text-style;
    color: @descriptive-text-color;
}

.sy_resetable {
}


.sy_reset_all_left {
    margin-left: 0px;
    padding-left: 0px;
}

.crf-table-nb {
    border: 0px transparent;

    &.full-width {
        width: 100%
    }
    
    tbody {
        font-size: @base-font-size;
    }
    
    td {
        padding: 0px;
        // border: 1px solid black;
        vertical-align: text-bottom;
    }
    td.half {
        width: 50%;
        min-width:50%;
        max-height: 50%;
    }
    td.third {
        width: 33.3%;
        min-width:33.3%;
        max-height: 33.0%;
    }
}

.sy_margin_top {
    margin-top: @pdf_margin_top;
}

.sy_title_page {
    text-align: center; 
    text-transform: uppercase;
}

.sy_pad_left_30 {
    padding-left: 30px;
}

@panel-border-color: rgb(175,175,175);
@panel-border-radius: 6px;
@panel-background-normal: rgb(255,255,255);

.sy-panel {
    padding: 6px;
    
    min-height: 64px;
    height: auto;
    display:block;
    
    overflow: hidden;
    
    .title-bar {
        /* background-color: red; */
        display: block;
        position: relative;
        padding: 0px 6px 12px 6px;
        font-size: @base-font-size * 1.3;
    }

    &.sy-bordered {
        border: 1px solid @panel-border-color;
        border-radius: @panel-border-radius;
        -moz-border-radius: @panel-border-radius;
        -webkit-border-radius: @panel-border-radius;
    }
    
    &.sy-shaddowed {
        -webkit-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
    }
    
    &.sy-panel-normal {
        background-color: @panel-background-normal;
    }
}  


/*

back-to-top section

*/

a.back-to-top {
    //if testing uncomment the next line
    //display: inline-block;
    display:none;
    
    width:60px;
    height:60px;
    position:fixed;
    bottom:40px;
    right:20px;
    background: green url("up-arrow.png") no-repeat center 43%;
    
    text-indent: -9999px;
    border-radius: 30px;
    
}

a:hover.back-to-top {
    background-color: #000;
}

li.collapsed-side-menu-item:first-of-type {
    margin-top: 30px;
    //background-color: red;
}

li.collapsed-side-menu-item:last-of-type {
    //background-color: green;
    margin-bottom:30px;
}


/* charts section */

@small-chart-width: 172px;

ul.list-inline.chart-wrapper {
    padding: 0px;
    margin: 0;

    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    
    li {
        /* background-color: red; */
        padding: 0px;
        margin: 0px;
        vertical-align: top;
    }
}

.small-chart-container {
    padding: 0 0 0 0;
    min-width: 172px;
    width: @small-chart-width + 12px;
    height: auto;
    overflow: visible;
}

.small-chart {
    margin: 6px;
    border: 0px solid lightsalmon;
    width: @small-chart-width;
    height: 100%;
}

.small-chart-description {
    font-size: 0.75em;
    text-align: center;
    
}

table.small-chart-table {
    background-color: lightgoldenrodyellow ;
    width: 100%;
    thead {
        font-weight: bold;
        tr {
            th {
                padding-bottom: 12px;
            }
        }
        
    }
}

.chart-inner-option-top-right {
    display: block;
    position: absolute;
    top: 0;
    right: 24px;
    padding: 6px;
    text-align: right;
    &.text {
        color: #1F77B4;
    }
}

.c3-chart-title {
    width: 100%;
    padding: 6px;
    font-size: @base-font-size;
    font-weight: bold;
    &.centered {
        text-align: center;
    }
    .subtitle {
        .sy_font_small;
        font-weight: normal;
        //color: lightcoral;
        &.centered {
            text-align: center;
        }
    }
}

.sy-selected-row {
    background-color: #1F77B4;
    color: #ECECEC;
}

.sy-selected-bar {
    stroke-width: 3;
    stroke: rgb(0,0,0);
    fill: rgb(0,0,255);
    fill-opacity:0.1;
}


//1.3

.sy_bold {
    font-weight: bold;
}

.cpf_table {
    tfoot {
        color: #777;
        font-size: 90%;
        font-style: italic;
    }
}

.cpf_table_group {
    font-weight: bold;
    background-color: #eee;
}

.cpf_table_group_child {
    padding-left: 16px !important;
}

.col-xs-4-landscape {
    @media all and (min-width: 768px) and (orientation:portrait) {
        width: 33.3%;
    }
    
    @media all and (max-width: 768px) and (orientation:portrait) {
        width: 100%;
    }
}

.col-xs-4-landscape:not(:first-child) {
    @media all and (max-width: 768px) and (orientation:portrait) {
        border-top: 1px solid #e3e3e3;
    }
}

.navbar-brand {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.stat_block {
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #e3e3e3;
}

body {
    @media only screen AND (max-width: 480px) {
        background-size: (586px*(480/1200)) (559px*(480/1200)); 
    }
    @media only screen AND (min-width: 480px) {
        background-size: (586px*(480/1200)) (559px*(480/1200)); 
    }
    @media only screen AND (min-width: 768px) {
        background-size: (586px*(768/1200)) (559px*(768/1200)); 
    }
    @media only screen AND (min-width: 992px) {
        background-size: (586px*(992/1200)) (559px*(992/1200)); 
    }
    @media only screen AND (min-width: 1200px) {
        background-size: (586px) (559px); 
    }
}

/* this one is for having the anchors taking into account the fixed header */
a.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

ul.dashed {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.dashed > li {
  padding-left: 12px;
  text-indent: -10px;
  margin-bottom: 12px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}