/*
SyRIO beta
*/
/* 
    Created on : 08-Oct-2015, 17:45:43
    Author     : vamanbo
*/
/* rule for alert glyphicons */
.sy_alert_color {
  color: #ff8000;
}
.sy-main-container {
  background-color: #FFFFFF;
  border-left: 1px solid lightskyblue;
  border-right: 1px solid lightskyblue;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  height: auto;
}
.crf-base-font {
  font-size: 14px;
  font-weight: normal;
}
.sy_font_small {
  font-size: 12.6px;
}
.sy_text_panel_title {
  font-size: 16.8px;
  font-weight: bold;
}
.sy-indent-1 {
  margin-left: 35px;
}
.sy-indent-2 {
  margin-left: 70px;
}
.sy-indent-3 {
  margin-left: 105px;
}
.crf-h1-box {
  margin-top: 48px;
}
.crf-h1 {
  padding-left: 35px;
  font-size: 16.8px;
  font-style: normal;
}
.crf-h1 > .title-number {
  width: 35px;
  min-width: 35px;
  margin-left: 0px;
  font-style: normal;
  font-weight: normal;
}
.crf-h1 > .title-text {
  font-weight: bold;
  font-style: italic;
}
.crf-h1 > .section-content {
  margin-left: 35px;
  font-size: 14px;
  font-style: normal;
}
.crf-h2-box {
  margin-top: 24px;
}
.crf-h2 {
  padding-left: 35px;
  font-size: 14px;
  font-style: normal;
}
.crf-h2 > .title-number {
  width: 35px;
  min-width: 35px;
  margin-left: -35px;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
}
.crf-h2 > .title-text {
  font-weight: bold;
  font-style: normal;
}
.crf-h2 > .section-content {
  font-size: 14px;
  font-style: normal;
  margin-left: 5px;
  padding-left: 0px;
}
.crf-h2c {
  padding-left: 70px;
  font-size: 14px;
  font-style: normal;
}
.crf-h2c > .title-number {
  width: 35px;
  min-width: 35px;
  margin-left: -35px;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
}
.crf-h2c > .title-text {
  font-weight: bold;
  font-style: normal;
}
.crf-h2c > .section-content {
  font-size: 14px;
  font-style: normal;
  margin-left: 5px;
  padding-left: 0px;
}
.crf-h2p {
  padding-left: 17.5px;
  font-size: 14px;
  font-style: normal;
}
.crf-h2p > .title-number {
  width: 35px;
  min-width: 35px;
  margin-left: 0px;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
}
.crf-h2p > .title-text {
  font-weight: bold;
  font-style: italic;
}
.crf-h2p > .section-content {
  font-size: 14px;
  font-style: normal;
  margin-left: 0px;
  padding-left: 17.5px;
}
.list-inline.clear-margin-left {
  margin-left: 0px;
}
.list-inline,
.crf-input-list {
  display: inline-block;
}
.list-inline > li,
.crf-input-list > li {
  padding-left: 0px;
  padding-right: 18px;
}
.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.crf-item-label {
  font-size: 14px;
  font-weight: normal;
  padding-right: 6px;
  padding-top: 6px;
  display: inline-block;
}
.crf-table {
  border: 2px black solid;
}
.crf-table.full-width {
  width: 100%;
}
.crf-table tbody {
  font-size: 14px;
}
.crf-table th {
  background-color: #cccccc;
  padding: 6px;
  border: 1px solid black;
}
.crf-table td {
  padding: 6px;
  border: 1px solid black;
  vertical-align: text-bottom;
}
.crf-table td.half {
  width: 50%;
  min-width: 50%;
  max-height: 50%;
}
.crf-table td.third {
  width: 33.3%;
  min-width: 33.3%;
  max-height: 33.0%;
}
.form-inline.vert-mid {
  vertical-align: middle;
}
textarea .full-width {
  width: 100%;
  padding-top: 6px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.full-width {
  width: 100%;
  /*
    padding: 4px;
    */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.sy_pad_right_18 {
  padding-right: 18px;
}
.sy_descriptive_text {
  font-style: italic;
  color: #337ab7;
}
.sy_reset_all_left {
  margin-left: 0px;
  padding-left: 0px;
}
.crf-table-nb {
  border: 0px transparent;
}
.crf-table-nb.full-width {
  width: 100%;
}
.crf-table-nb tbody {
  font-size: 14px;
}
.crf-table-nb td {
  padding: 0px;
  vertical-align: text-bottom;
}
.crf-table-nb td.half {
  width: 50%;
  min-width: 50%;
  max-height: 50%;
}
.crf-table-nb td.third {
  width: 33.3%;
  min-width: 33.3%;
  max-height: 33.0%;
}
.sy_margin_top {
  margin-top: 0px;
}
.sy_title_page {
  text-align: center;
  text-transform: uppercase;
}
.sy_pad_left_30 {
  padding-left: 30px;
}
.sy-panel {
  padding: 6px;
  min-height: 64px;
  height: auto;
  display: block;
  overflow: hidden;
}
.sy-panel .title-bar {
  /* background-color: red; */
  display: block;
  position: relative;
  padding: 0px 6px 12px 6px;
  font-size: 18.2px;
}
.sy-panel.sy-bordered {
  border: 1px solid #afafaf;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.sy-panel.sy-shaddowed {
  -webkit-box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
.sy-panel.sy-panel-normal {
  background-color: #ffffff;
}
/*

back-to-top section

*/
a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  background: green url("up-arrow.png") no-repeat center 43%;
  text-indent: -9999px;
  border-radius: 30px;
}
a:hover.back-to-top {
  background-color: #000;
}
li.collapsed-side-menu-item:first-of-type {
  margin-top: 30px;
}
li.collapsed-side-menu-item:last-of-type {
  margin-bottom: 30px;
}
/* charts section */
ul.list-inline.chart-wrapper {
  padding: 0px;
  margin: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
ul.list-inline.chart-wrapper li {
  /* background-color: red; */
  padding: 0px;
  margin: 0px;
  vertical-align: top;
}
.small-chart-container {
  padding: 0 0 0 0;
  min-width: 172px;
  width: 184px;
  height: auto;
  overflow: visible;
}
.small-chart {
  margin: 6px;
  border: 0px solid lightsalmon;
  width: 172px;
  height: 100%;
}
.small-chart-description {
  font-size: 0.75em;
  text-align: center;
}
table.small-chart-table {
  background-color: lightgoldenrodyellow ;
  width: 100%;
}
table.small-chart-table thead {
  font-weight: bold;
}
table.small-chart-table thead tr th {
  padding-bottom: 12px;
}
.chart-inner-option-top-right {
  display: block;
  position: absolute;
  top: 0;
  right: 24px;
  padding: 6px;
  text-align: right;
}
.chart-inner-option-top-right.text {
  color: #1F77B4;
}
.c3-chart-title {
  width: 100%;
  padding: 6px;
  font-size: 14px;
  font-weight: bold;
}
.c3-chart-title.centered {
  text-align: center;
}
.c3-chart-title .subtitle {
  font-size: 12.6px;
  font-weight: normal;
}
.c3-chart-title .subtitle.centered {
  text-align: center;
}
.sy-selected-row {
  background-color: #1F77B4;
  color: #ECECEC;
}
.sy-selected-bar {
  stroke-width: 3;
  stroke: #000000;
  fill: #0000ff;
  fill-opacity: 0.1;
}
.sy_bold {
  font-weight: bold;
}
.cpf_table tfoot {
  color: #777;
  font-size: 90%;
  font-style: italic;
}
.cpf_table_group {
  font-weight: bold;
  background-color: #eee;
}
.cpf_table_group_child {
  padding-left: 16px !important;
}
@media all and (min-width: 768px) and (orientation: portrait) {
  .col-xs-4-landscape {
    width: 33.3%;
  }
}
@media all and (max-width: 768px) and (orientation: portrait) {
  .col-xs-4-landscape {
    width: 100%;
  }
}
@media all and (max-width: 768px) and (orientation: portrait) {
  .col-xs-4-landscape:not(:first-child) {
    border-top: 1px solid #e3e3e3;
  }
}
.navbar-brand {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.stat_block {
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #e3e3e3;
}
@media only screen AND (max-width: 480px) {
  body {
    background-size: 234.4px 223.6px;
  }
}
@media only screen AND (min-width: 480px) {
  body {
    background-size: 234.4px 223.6px;
  }
}
@media only screen AND (min-width: 768px) {
  body {
    background-size: 375.04px 357.76px;
  }
}
@media only screen AND (min-width: 992px) {
  body {
    background-size: 484.42666667px 462.10666667px;
  }
}
@media only screen AND (min-width: 1200px) {
  body {
    background-size: 586px 559px;
  }
}
/* this one is for having the anchors taking into account the fixed header */
a.anchor {
  display: block;
  position: relative;
  top: -55px;
  visibility: hidden;
}
ul.dashed {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.dashed > li {
  padding-left: 12px;
  text-indent: -10px;
  margin-bottom: 12px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}
