/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Jun-2015, 15:23:53
    Author     : vamanbo
*/

div.sy_click_panel {
    display: inline-block;
    border: 2px solid #CCCCCC;
    width:128px;
    height:128px;
    border-radius: 15px;
    vertical-align: middle;
    text-align: center;
    background-color: lightgrey;
    cursor: pointer;
}

div.sy_click_content {
    display: table-cell;
    vertical-align: middle;
    width: 128px;
    text-align: center;
    /* min-height: 128px; */
    /* height: auto !important; */
    height: 128px;
}

div.hover {
    background-color: lightsteelblue;
}

div.mouse-down {
    background-color: lightslategray;
}